registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}

@asl:registry = https://artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/
//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}

@ukhomeoffice:registry=https://npm.pkg.github.com
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:username=${ART_AUTH_USERNAME}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:_password=${ART_AUTH_TOKEN}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:email=${ART_AUTH_USERNAME}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual/:always-auth=true
