@import "images";

.editor {
  margin-top: $govuk-gutter / 2;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 0px;
  margin-bottom: $govuk-gutter;

  .image-wrapper {
    position: relative;

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.4);
      display: none;

      button {
        position: absolute;
        top: $govuk-gutter;
        right: $govuk-gutter;
      }
    }
  }

  &:not(.readonly) {
    [data-slate-editor="true"] {
      -webkit-user-modify: read-write!important;
    }
    .image-wrapper:hover .image-overlay {
      display: block;
    }
  }

  &.focus {
    outline: 3px solid $ho-focus;
    outline-offset: 0;
  }

  [data-slate-editor] {
    min-height: 200px;
    max-height: 600px;
    max-height: 90vh;
    overflow: auto;
    padding: 5px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 1em;
  }

  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
    &[dir='rtl'] {
      border-left: none;
      padding-left: 0;
      padding-right: 10px;
      border-right: 2px solid #ddd;
    }
  }
  a {
    color: $blue;
  }

  .format-toolbar {
    display: flex;
    border-bottom: solid 1.7px $dark-grey;
    padding: $govuk-gutter / 3;

    .table-controls {
      button {
        margin-left: 5px;
      }
    }
  }
  .tooltip-icon-button {
    cursor: pointer;
    border: 0;
    color: $dark-grey;
    margin-right: 0.5em;
    height: 40px;
    width: 40px;
    border: 1px solid $govuk-border-colour;
    background-color: $light-grey;
    box-shadow: 0 2px 0 #929191;
    overflow: hidden;
    position: relative;

    &:focus-within {
      @extend :focus;
    }

    &:hover {
      background-color: $mid-grey;
    }
    &.active {
      color: $blue;
    }
    &[disabled] {
      color: $mid-grey;
    }
    [type='file'] {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      cursor: pointer;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
  pre {
    padding: 10px;
    background-color: $light-grey;
    white-space: pre-wrap;
  }
  :not(pre) > code {
    background-color: $light-grey;
    padding: 3px;
  }
  p {
    margin-top: 0;
  }
  ol,
  ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  ul {
    list-style-type: disc;
  }

  table {
    border: 1px solid $govuk-border-colour;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $govuk-gutter;
    background-color: white;

    tr {
      border: none;
      border-bottom: 1px solid $govuk-border-colour;
      border-right: 1px solid $govuk-border-colour;

      &:first-child td {
        background: #f5f5f5;
        font-weight: bold;
      }

      td {
        border: 1px solid $govuk-border-colour;
        border-top: none;
        border-bottom: none;
        border-right: none;
        padding: 10px 20px;
      }
    }


    td p {
      margin: 0;
    }
  }

  .diff {
    border-bottom: 3px solid #47ff47;
    background-color: #d3ffd3;
    &.removed {
      text-decoration: line-through;
      border-bottom: 3px solid #ff4747;
      background-color: #ffd3d3;
    }
  }

}

.readonly {
  background-color: inherit;
  border: none;
  > [data-slate-editor] {
    min-height: 0px;
    padding-left: 0;
    max-height: none;
  }
}

.review {
  > [data-slate-editor] {
    pointer-events: none;
  }
}

.current-item {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    border: 2px solid #d9edff;
    left: -25px;
    height: 100%;
    top: 0;
  }
}
