$assetPath: '/public';
$red: #d4351c;
@import "@ukhomeoffice/frontend-toolkit";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/forms";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/typography";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/phase-banner";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/button";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/table";

@import "projects";

.download-header {
  display: none;
}
