$assetPath: '/public';

@import "@ukhomeoffice/frontend-toolkit";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/forms";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/typography";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/phase-banner";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/button";
@import "@ukhomeoffice/frontend-toolkit/assets/styles/components/table";
@import "./editor";

h1 {
  margin-bottom: 1em;
}

p.control-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .govuk-button {
    margin-bottom: 0;
  }

  > * {
    margin-right: 1em;
  }
}

details summary {
  color: $blue;
}

table {
  .govuk-button {
    margin: 0;
  }
  td:last-child {
    text-align: right;

    > * {
      margin-left: 0.5em;
    }
  }
}

main {
  position: relative;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: $green;
  color: white;
  font-weight: bold;
  z-index: 100;

  &.alert-error {
    background: $govuk-error-colour;
  }
}

.alert-enter {
  opacity: 0.01;
}

.alert-enter.alert-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.alert-leave {
  opacity: 1;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-out;
}

.badge {
  padding: 3px 6px;
  background: #999;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  &.complete {
    background: $blue;
  }
}

.import-active {
  border: 3px dashed $mid-grey;
  padding: 12px;
  margin: -15px;
}

.import-rejected {
  border: 3px dashed $govuk-error-colour;
  padding: 12px;
  margin: -15px;
}

.banner {
  background: $green;
  color: white;
  text-align: center;
  padding: 2em 0 1px;
  margin-bottom: 2em;
}

.block {
  display: block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.govuk-inset-text {
  border-left: 4px solid $mid-grey;
  padding-left: $govuk-gutter;
}

hr {
  border-top: 4px solid $mid-grey;
  border-left: 0;
}

.review ul {
  margin-top: 1em;
}

.panel {
  padding: $govuk-gutter;
  background-color: $mid-grey;
  border-color: transparent;

  &.step {
    margin-bottom: $govuk-gutter;
  }

  &.white {
    background-color: $white;
  }

  &.active {
    border: 4px solid $green;
  }
}

// .panel-enter {
//   opacity: 0.01;
// }
//
// .alert-enter.alert-enter-active {
//   opacity: 1;
//   transition: opacity 100ms ease-in;
// }
//
// .alert-leave {
//   opacity: 1;
// }
//
// .alert-leave.alert-leave-active {
//   opacity: 0.01;
//   transition: opacity 500ms ease-out;
// }
