.editor {
  margin-top: $govuk-gutter / 2;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 0px;
  margin-bottom: $govuk-gutter;

  &.focus {
    outline: 3px solid $ho-focus;
    outline-offset: 0;
  }

  [data-slate-editor] {
    min-height: 200px;
    padding: 5px;
  }

  h1 {
    margin: 20px 0 25px 0;
  }
  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
    &[dir='rtl'] {
      border-left: none;
      padding-left: 0;
      padding-right: 10px;
      border-right: 2px solid #ddd;
    }
  }
  a {
    color: $blue;
  }
  .format-toolbar {
    display: flex;
    border-bottom: solid 1.7px $dark-grey;
    padding: $govuk-gutter / 3;
  }
  .tooltip-icon-button {
    cursor: pointer;
    border: 0;
    color: $dark-grey;
    &.active {
      color: $blue;
    }
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 20em;
  }
  pre {
    padding: 10px;
    background-color: $light-grey;
    white-space: pre-wrap;
  }
  :not(pre) > code {
    background-color: $light-grey;
    padding: 3px;
  }
  h1 {
    font-size: 2em;
  }
  ol,
  ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  ul {
    list-style-type: disc;
  }
  .fileContainer {
    overflow: hidden;
    position: relative;
    [type='file'] {
      // cursor: inherit;
      // display: block;
      // font-size: 999px;
      // filter: alpha(opacity = 0);
      // min-height: 100%;
      // min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      // text-align: right;
      // top: 0;
    }
  }
}

.readonly {
  background-color: inherit;
  border: none;
  > [data-slate-editor] {
    min-height: 0px;
    padding-left: 0;
  }
}

.review {
  > [data-slate-editor] {
    pointer-events: none;
  }
}
