@import "editor";
@import "images";
$light-green: #26A197;
$pink: #ff1493;
$hint-colour: #696F73;

@mixin sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2 * $govuk-gutter;
}

@mixin purple-inset {
  border-left: 8px solid $ho-brand;
  padding-left: $govuk-gutter-half;
}

html.modal-open, html.modal-open body {
  overflow: hidden;
}

#ppl-drafting-tool {
  .protocols-summary {
    // 7th child is the rowspan column appearing right after a non rowspan col
    th:nth-child(7),
    td:nth-child(7) {
      padding-left: 20px;
    }

    tr.expandable {
      cursor: pointer;

      &.hover, &.expanded {
        background-color: white;
      }

      &.expanded {
        td.is-last-row {
          border-bottom: 0;
        }
      }
    }

    .expanding-container {
      background-color: white;
      padding: $govuk-gutter;
    }

    span.expanding {
      &:before {
        content: '►';
        font-size: 1em;
        vertical-align: middle;
        margin-right: 10px;
      }

      &.expanded {
        &:before {
          content: '▼';
          margin-right: 8px;
        }
      }
    }
  }

  .panel .govuk-inset-text {
    border-color: $govuk-border-colour;
  }

  .application-summary {
    h2.section-heading {
      margin-bottom: 10px;
    }

    table tr td {
      border-top: 1px solid $govuk-border-colour;
    }
  }

  .introduction-review {
    .duration {
      margin-bottom: 1em;
    }

    &.readonly {
      .review {
        margin-bottom: 2em;
      }
    }
  }

  .additional-establishments-radios {
    > .govuk-form-group {
      margin-bottom: 0;
    }

    > a {
      display: block;
      margin-bottom: $govuk-gutter;
    }
  }

  .modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .modal-content {
      margin: 3vh auto;
      max-height: 94vh;
      width: 96vw;
      background-color: white;
      overflow: scroll;
    }

    h1 {
      display: inline;
    }

    .close {
      vertical-align: super;
      font-weight: normal;

      &:before {
        content: '';
        margin-right: 0.5em;
        background: $close;
        background-size: 100%;
        vertical-align: middle;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .modal-trigger {
    margin-left: $govuk-gutter-half;

    &:before {
      content: '';
      margin-right: 0.5em;
      background: $copy;
      background-size: 100%;
      vertical-align: middle;
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
    }
  }

  .diff {

    &.added {
      border-bottom: 3px solid #47ff47;
      background-color: #d3ffd3;
    }

    &.removed {
      text-decoration: line-through;
      border-bottom: 3px solid #ff4747;
      background-color: #ffd3d3;
    }
  }

  .govuk-tabs {
    ul {
      margin: 0 0 $govuk-gutter 0;
      padding: 0;
      border-bottom: 2px solid govuk-colour('grey-2');
      list-style: none;

      li {
        display: inline-block;

        a {
          display: block;
          height: 2.25em;
          line-height: 2.25em;
          margin-bottom: -2px;
          padding: 0 $govuk-gutter;
        }

        &.active a {
          border: solid 2px govuk-colour('grey-2');
          border-bottom: none;
          padding-bottom: 2px;
          color: #0b0c0c;
          text-decoration: none;
          pointer-events: none;
          background-color: $background;
          cursor: default;
        }
      }
    }
  }

  a[href="#"]:visited {
    color: $govuk-link-colour;
  }

  .flex {
    display: flex;

    .grow {
      flex-grow: 1;
    }

    .shrink {
      flex-shrink: 1;
      align-self: flex-end;
      margin-left: $govuk-gutter;
    }
  }

  .govuk-hint {
    ul {
      padding-left: $govuk-gutter * 2;

      li {
        list-style-position: outside;
      }
    }
  }

  .species-selector-other {
    .grow {
      max-width: 200px;
    }
  }

  .section-nav {
    hr {
      margin-top: 0;
    }

    .step-link {
      padding: $govuk-gutter-half $govuk-gutter;
      position: relative;
      display: block;
      text-decoration: none;
      border-top: 1px solid $govuk-border-colour;
      border-collapse: collapse;

      &:hover {
        background-color: darken($background, 5);
      }

      h3 {
        margin: 0;
        color: inherit;
      }

      h3:visited {
        @extend a, :visited;
      }

      span {
        text-decoration: underline;
      }

      &.previous, &.next {
        h3:before {
          position: absolute;
          left: 0;
          color: #aaa;
        }
      }

      &.previous {
        h3:before {
          content: "\2190";
        }
      }

      &.next {
        h3:before {
          content: "\2192";
        }
      }
    }
  }

  .gutter {
    margin-bottom: $govuk-gutter;
  }

  a[disabled] {
    color: $govuk-secondary-text-colour !important;
    cursor: default !important;
    text-decoration: none !important;
  }

  h1, h2:not(.govuk-fieldset__heading), h3 {
    margin-bottom: 1em;
  }

  dl {
    dt {
      font-weight: bold;
    }
  }

  .playback {
    border-left: 4px solid $ho-brand;
    padding-left: $govuk-gutter;
    margin-bottom: $govuk-gutter;
  }

  .objective {
    @extend .panel;
    margin-bottom: $govuk-gutter;
  }

  .grey {
    color: $govuk-secondary-text-colour;
  }

  .light-grey-bg {
    background-color: $light-grey !important;
  }

  .inline-block {
    display: inline-block;
    margin-right: $govuk-gutter-half;
  }

  .no-bg {
    .header {
      background: none !important;
      padding-top: 0 !important;

      .title {
        margin-bottom: 0 !important;
      }
    }
  }

  .hidden {
    display: none;
  }

  .light {
    font-weight: normal;
  }

  .smaller-text {
    font-size: 0.8em;
  }

  .legal {
    font-size: 0.9em;
  }

  .larger {
    font-size: 1.2em;
  }

  .granted-page {
    &.action-plan {
      .hint {
        display: none;
      }

      hr {
        display: none;
      }

      .review {
        margin-bottom: $govuk-gutter * 2;
      }

      .objective-review {
        h2 {
          @extend h3;
        }

        .review {
          h3 {
            display: none;
          }
        }
      }
    }
  }

  .granted-section {
    margin-bottom: $govuk-gutter * 2;

    .playback {
      padding: 0;
      border: none;
    }
  }

  dl.inline {
    margin: 0 0 $govuk-gutter;
    > * {
      margin: 0;
      padding: 0;
      width: auto;
    }
  }

  .no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .est-title {
    margin-bottom: $govuk-gutter;
  }

  .protocols-section {
    button.add-another {
      display: inline-block;
      margin-right: $govuk-gutter-half;
    }
  }

  .protocol-conditions {
    margin-bottom: $govuk-gutter;
  }

  .subtitle {
    @extend .grey;
    @extend .light;
  }

  .govuk-button {
    &.link {
      @extend a;
      text-decoration: underline;
      color: $blue;
      background: none;
      box-shadow: none;
      margin-right: $govuk-gutter-half;
    }

    &.button-secondary {
      background: $white;
      color: $govuk-text-colour;
      border: 1px solid $govuk-border-colour;

      &:hover {
        background: $light-grey;
      }
    }
  }

  a.sections-link {
    background-color: $black;
    color: $white;
    text-decoration: none;
    margin-bottom: $govuk-gutter;
    display: inline-block;
    padding: 10px 16px;
    font-weight: bold;

    span {
      margin-left: $govuk-gutter;
      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 7px solid $white;
        position: absolute;
        top: 50%;
        left: -1.5em;
        margin-top: -5px;
      }
    }


  }

  dl {
    clear: both;
    &.inline {
      dt {
        float: left;
        clear: left;
        margin-right: $govuk-gutter-half / 2;
      }

      dd {
        a {
          margin-left: $govuk-gutter-half;
        }
      }
    }
  }

  .review:last-child {
    hr {
      display: none;
    }
  }

  p.control-panel {
    margin-top: $govuk-gutter;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .govuk-button {
      margin-bottom: 0;
    }

    > * {
      margin-right: 1em;
    }
  }

  details summary {
    color: $blue;
    cursor: pointer;
    margin-bottom: $govuk-gutter;
  }

  table {
    .govuk-button {
      margin: 0;
    }

    td.controls {
      text-align: right;

      > * {
        margin-left: 0.5em;
      }
    }
  }

  main {
    position: relative;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $green;
    color: white;
    font-weight: bold;
    z-index: 10000;

    &.alert-error {
      background: $govuk-error-colour;
    }
    &.alert-warning {
      background: #E3733B;
    }
    a {
      color: white;
    }
  }

  .alert-enter {
    opacity: 0.01;
  }

  .alert-enter.alert-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }

  .alert-leave {
    opacity: 1;
  }

  .alert-leave.alert-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-out;
  }

  .badge {
    padding: 3px 6px;
    background: #999;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }

    &.complete {
      background: $blue;
    }

    &.comments {
      background: $light-green;
    }

    &.changed,
    &.reordered,
    &.created {
      background: $pink;
    }

    &.deleted {
      background: $red;
    }
  }

  .import-active {
    border: 3px dashed $mid-grey;
    padding: 12px;
    margin: -15px;
  }

  .import-rejected {
    border: 3px dashed $govuk-error-colour;
    padding: 12px;
    margin: -15px;
  }

  .banner {
    background: $green;
    color: white;
    text-align: center;
    padding: 2em 0 1px;
    margin-bottom: 2em;

    h1, h2 {
      color: $white;
    }

    &.error {
      background-color: $white;
      color: $govuk-text-colour;
      text-align: left;
      padding: 2em;
      border: 2px solid $govuk-error-colour;

      details {
        margin-top: 1em;
        color: $govuk-text-colour;
        text-align: left;
        overflow: auto;
      }

      h1, h3 {
        color: $govuk-error-colour;
        margin: 0;
      }
    }
  }

  .block {
    display: block;
  }

  .float-right {
    float: right;
  }

  .preview-licence {
    border-bottom: 1px solid $govuk-border-colour;
  }

  .next-steps {
    margin-top: $govuk-gutter;
  }

  .float-left {
    float: left;
  }

  .govuk-inset-text {
    border-left: 4px solid $mid-grey;
    padding-left: $govuk-gutter;
  }

  hr {
    border: none;
    border-top: 1px solid $govuk-border-colour;
  }

  .review ul {
    margin-top: 1em;
  }

  .panel {
    padding: $govuk-gutter;
    background-color: $mid-grey;
    border-color: transparent;

    &.yellow-bg {
      background-color: $ho-focus;
    }

    &.light-grey {
      background-color: $light-grey;
    }
  }

  .diff-window {
    .diff-window-header {
      @extend .panel;
      border-bottom: 1px solid $dark-grey;

      h1 {
        margin: 0;
      }
    }

    .diff-window-body {
      @extend .panel;
      background-color: white;

      .govuk-tabs {
        ul {
          margin: 0;
        }
      }
    }

    .diff-window-footer {
      @extend .panel;
      background-color: white;
      border-top: 1px solid $dark-grey;
    }
  }

  fieldset.inline {
    > .govuk-radios > .govuk-radios__item,
    > .govuk-checkboxes > .govuk-checkboxes__item {
      display: inline-block;
      margin-right: $govuk-gutter;
    }
  }

  fieldset.smaller {
    .govuk-radios [type='radio'] + label::before {
      width: 24px;
      height: 24px;
    }

    .govuk-radios__item {
      min-height: auto;
    }

     .govuk-radios [type='radio'] + label::after {
      border: 7px solid;
      top: 5px;
      left: 5px;
    }

     .govuk-radios__label {
      padding: 0;
    }

    .govuk-checkboxes {
      .multiple-choice {
        padding-top: 1px;
        padding-bottom: 2px;
      }
      .govuk-checkboxes__label {
        padding: 3px 2px 5px;
      }

      .govuk-checkboxes__item {
        margin-bottom: 0;
      }
    }

    .govuk-checkboxes [type=checkbox] + label::before {
      width: 25px;
      height: 25px;
    }

    .govuk-checkboxes [type=checkbox] + label::after {
      border-width: 0 0 3px 3px;
      width: 11px;
      height: 4px;
      top: 8px;
      left: 6px;
    }

    .govuk-checkboxes__item > .govuk-reveal > .govuk-inset-text {
      margin-left: -5px !important;
    }

    .govuk-inset-text {
      margin-left: -30px;

      .govuk-inset-text {
        margin-left: -30px;
        margin-top: $govuk-gutter-half;

        input, textarea {
          margin-bottom: 0;
        }
      }
    }

    &.inline .govuk-inset-text {
      margin-left: 10px;
    }
  }

  .govuk-reveal {
    margin-bottom: $govuk-gutter;
    textarea:last-child, .editor:last-child {
      margin-bottom: 0;
    }
  }

  .status-label {
    display: block;
    float: right;
    padding: 2px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;

    &.completed {
      background-color: $blue;
      color: $white;
    }

    &.incomplete {
      background-color: $ho-focus;
    }

    &.deleted {
      background-color: $red;
      color: $white !important;
    }
  }

  .expandable {
    > .header, .content {
      @extend .panel;
    }

    > .header .title {
      @extend a;
      cursor: pointer;
      color: $blue;

      &:before {
        content: '►';
        font-size: 0.5em;
        vertical-align: middle;
        margin-right: $govuk-gutter / 4;
      }
    }

    &.expanded {
      > .header {
        .title:before {
          content: '▼';
        }
      }
    }
  }

  .protocols-setup {
    margin-bottom: $govuk-gutter;
    border-bottom: 1px solid $govuk-border-colour;

    header {
      background-color: $light-grey;
    }

    .review {
      hr, a {
        display: none;
      }
    }
  }

  .steps {

    .step {
      margin-bottom: $govuk-gutter;

      &.completed {
        @extend .panel;
      }

      > .review {
        @extend .panel;
        background-color: $white;
        margin: -$govuk-gutter-half;

        .review {
          hr {
            display: none;
          }
        }
      }
      &.editable .control-panel {
        margin-top: 0;
      }
      &.editable > .review .review a.edit-link {
        display: none;
      }
      > .reusable {
        padding: 0 $govuk-gutter-half;
      }
    }
  }


  .protocol {
    margin-bottom: $govuk-gutter;

    > .expandable > .header {
      cursor: pointer;
    }

    .expanding-panel {
      header {
        .badge {
          position: relative;
          top: -14px;

          &:last-child:after {
            content: '\A';
            white-space: pre;
          }
        }
      }
    }

    h2.group {
      display: none;
    }

    &.complete {
      > .expandable {
        > .header {
          background-color: $blue;

          *:not(.restore) {
            color: $white;
          }
        }
      }
    }

    &.readonly {
      .expanding-panel {
        header {
          background-color: white;
        }

        .content {
          padding: 0;
          margin: 0;
        }
      }
    }

    &.deleted {
      > .expandable {
        > .header {
          background-color: $mid-grey;

          *:not(.restore) {
            color: lighten($dark-grey, 20%);
          }
        }

        > .content {
          // grey out all text in deleted protocol sections except for comment form controls
          *:not(.govuk-button) {
            color: lighten($dark-grey, 20%);
          }

          .govuk-button.button-secondary {
            color: lighten($dark-grey, 20%);
          }
        }
      }
    }

    .expandable {
      .content {
        background: $white;
      }
    }

    .review-step {
      margin-bottom: $govuk-gutter;

      .expandable {
        > .header {
          background-color: $mid-grey;

          h3 {
            margin-bottom: 10px;
          }

          .title:before {
            content: none;
          }

          &:hover {
            background-color: #f3f2f1;
          }
        }

        > .content {
          padding: $govuk-gutter-half;
          background: $mid-grey;

          > .review {
            background-color: $white;
            padding: $govuk-gutter-half;
          }
        }
      }
    }
  }

  .accordion {
    margin-bottom: $govuk-gutter;

    .toggles {
      button {
        margin: 0;
      }
    }
  }

  .ra-nav {
    border-top: 2px solid #ccc;
    padding-top: $govuk-gutter-half;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .ra-playback {
    .review:not(:last-child) {
      margin-bottom: $govuk-gutter;
    }
  }

  .ra-details {
    dl.inline {
      dd {
        margin-left: 35%;
        margin-bottom: $govuk-gutter-half;
      }
    }
  }

  .expanding-panel {
    border-top: 1px solid $govuk-border-colour;
    &:last-child {
      border-bottom: 1px solid $govuk-border-colour;
    }

    header {
      padding: $govuk-gutter-half;
      padding-left: 0;
      position: relative;
      cursor: pointer;
      margin: 0;

      h3 {
        @extend a;
        color: $blue;
        margin: 0;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: $govuk-gutter-half;
          right: $govuk-gutter-half;
          width: 16px;
          height: 16px;
          margin-top: 4px;
          background: $plus-minus no-repeat bottom left;
        }
      }
    }

    &.open {
      h3:after {
        background: $plus-minus no-repeat top left;
      }
    }

    .content {
      padding: $govuk-gutter;

      h2:first-child {
        margin-top:0;
      }
    }
  }

  .document-header .page-title {
    h1 {
      margin-bottom: 5px;
    }
  }

  .nts {
    @extend .panel;
    @extend .yellow-bg;

    margin-bottom: $govuk-gutter;

    > .govuk-button {
      margin-bottom: 0;
    }
  }

  .sidebar-nav {
    border-top: 4px solid $blue;
    background-color: white;

    &.sticky {
      @include sticky;
    }

    > a {
      display: block;
      padding: $govuk-gutter-half;
      text-decoration: none;
      position: relative;

      > h3 {
        margin-bottom: 0;
      }

      &.active {
        background-color: $blue;
        color: $white;

        h3 {
          color: white;
        }
      }
    }
  }

  .nts-review {
    display: flex;

    > nav {
      @include sticky;
      align-self: flex-start;
      flex-shrink: 0;
    }

    > nav, .content {
      vertical-align: top;
    }

    .content {
      flex-grow: 1;
      margin-left: $govuk-gutter;
    }

    .review {
      hr {
        margin: 0;
        border: none;
      }
    }
  }

  .granted-step {
    .grey {
      display: none;
    }

    .header {
      background-color: $ho-brand;
      color: white;
      padding: $govuk-gutter-half;

      table {
        color: $govuk-text-colour;
        margin-bottom: 0;
      }

      .grey {
        display: none;
      }

      h2 {
        color: white;
      }
    }

    .body {
      background-color: $light-grey;
      padding: $govuk-gutter-half;
      border-bottom: 4px solid $ho-brand;
    }
  }

  input[type="number"] {
    width: 6em;
  }

  .duration {
    .govuk-form-group {
      display: inline-block;
      margin-right: 1em;
    }
  }

  .objective-review {
    .review {
      hr {
        border: none;
      }
    }
  }

  .playback {
    .review {
      hr {
        border: none;
        margin: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    dl.inline {
      padding: $govuk-gutter-half 0;
    }
  }

  .establishment-review {
    margin-top: $govuk-gutter;
    margin-bottom: $govuk-gutter;
  }

  .location-selector, .objective-selector {
    margin-bottom: $govuk-gutter;

    > .govuk-form-group {
      margin-bottom: 0;
    }

    > a {
      display: block;
    }
  }

  .species-selector {
    margin-bottom: $govuk-gutter;

    .govuk-form-group {
      margin-bottom: $govuk-gutter !important;
    }

    .species-selector-other .govuk-button {
      margin-bottom: $govuk-gutter;
      margin-left: $govuk-gutter;
    }
  }

  .add-more-animals {
    margin-bottom: $govuk-gutter;
  }

  .sidebar-nav.section-nav {
    border-top: none;

    .sections-link {
      position: static;
      margin-bottom: 0;
    }

    .indent {
      margin-left: $govuk-gutter;
      display: block;
    }

    .content p {
      position: relative;
    }

    .badge {
      border-radius: 100%;
      padding: 0;
      width: 0.75em;
      height: 0.75em;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -0.375em;
    }

    .expanding-panel {
      header {
        background: $white;
        padding-left: $govuk-gutter-half;
        user-select: none;

        h3:after {
          content: '►';
          font-size: 0.75em;
          background-image: none;
        }
      }

      .content {
        padding: 0;
        padding-left: $govuk-gutter-half;
      }

      &.open {
        header {
          background-color: $blue;

          h3 {
            color: $white;

            > span.badge {
              background-color: $white;
            }

            &:hover {
              color: $light-grey;
            }

            &:after {
              content: '▼'
            }
          }
        }
      }
    }

  }

  .steps-back-to-top {
    text-align: center;
  }

  .step-index-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .comments.expanding-panel {
    margin-top: $govuk-gutter;
    margin-bottom: $govuk-gutter;
    border-top: 3px solid $govuk-border-colour;
    border-bottom: 3px solid $govuk-border-colour;
    position: relative;

    &.has-new {
      border-color: $light-green;

      &:before {
        border-bottom-color: $light-green;
      }
    }

    &:last-child {
      border-bottom: 3px solid $govuk-border-colour;

      &.has-new {
        border-color: $light-green;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 20px;
      top: -15px;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-bottom-color: $govuk-border-colour;
      border-top: 0;
    }

    .comment {
      border: 3px solid $govuk-border-colour;
      border-radius: $govuk-gutter-half;
      border-top-left-radius: 0;
      margin-bottom: $govuk-gutter;
      position: relative;
      background-color: $white;
      margin-right: $govuk-gutter;

      .header {
        padding: $govuk-gutter-half / 2 $govuk-gutter-half;

        .date {
          padding-left: 1em;
        }
      }

      .content {
        padding: $govuk-gutter-half / 2 $govuk-gutter-half;
      }

      &:before {
      	content: '';
      	position: absolute;
      	left: 0;
      	top: 0;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: $govuk-border-colour;
      	border-bottom: 0;
      	border-right: 0;
      	margin-left: -20px;
      	margin-top: -3px;
      }

      &:after {
      	content: '';
      	position: absolute;
      	left: 0;
      	top: 0;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: $white;
      	border-bottom: 0;
      	border-right: 0;
      	margin-left: -13px;
      	margin-top: -0px;
      }

      &.mine {
        border-top-left-radius: $govuk-gutter-half;
        border-top-right-radius: 0;
        margin-left: $govuk-gutter;
        margin-right: 0;

        &:before, &:after {
          right: 0;
          border-left: 0;
          border-right: 20px solid transparent;
          left: auto;
          margin-right: -20px;
        }

        &:after {
          margin-right: -13px;
        }
      }

      &.isNew {
        border-color: $light-green;

        &:before {
          border-top-color: $light-green;
        }

        .header {
          border-color: $light-green;
        }
      }

      &.deleted {
        border-color: $govuk-border-colour;
        color: $govuk-border-colour;

        .header {
          border-color: $govuk-border-colour;
        }

        &:before {
          border-top-color: $govuk-border-colour;
        }

        * {
          border-color: $govuk-border-colour;
          color: $govuk-border-colour;
        }
      }
    }
  }

  .purple-inset {
    @include purple-inset;
    margin-bottom: $govuk-gutter;
  }

  .conditions {
    .condition {
      @include purple-inset;
      margin-bottom: $govuk-gutter;

      p.condition-text {
        white-space: pre-wrap;
      }
    }
  }

  .retrospective-assessment {
    .control-panel {
      margin-top: 0;
    }
  }

  .add-condition {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: pre-wrap;

    .clamp {
      > * {
        display: none;

        &:first-child {
          display: inherit;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      > ul, ol {
        li {
          display: none;

          &:first-child {
            display: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    a.expand {
      &:before {
        font-size: 1em;
        line-height: 1em;
        display: inline-block;
        margin-right: $govuk-gutter / 4;
      }

      &[aria-expanded=false] {
        &:before {
          content: '►';
        }
      }

      &[aria-expanded=true] {
        &:before {
          content: '▲';
        }
      }
    }
  }

  .review {
    > ul {
      padding-left: 1em;
    }

    .review-children {
      @extend .govuk-inset-text;
      border-width: 10px;
      margin-top: 10px !important;

      ul {
        list-style-type: disc;
      }
    }
  }

  .repeats-establishments {
    fieldset, .panel .review {
      background-color: white;
      margin: 0 (-$govuk-gutter-half);
      padding: $govuk-gutter-half;
    }

    .aa-establishment.deleted {
      background-color: $mid-grey;

      // grey out all text in deleted AA sections except for comment form controls
      *:not(.restore):not(.govuk-button) {
        color: lighten($dark-grey, 20%);
      }

      .govuk-button.button-secondary {
        color: lighten($dark-grey, 20%);
      }

      fieldset, .panel .review {
        background-color: #f3f3f3;
      }
    }
  }

  // hack to always show sub-list for permissible purposes
  // and to remove the checkbox for the reveal option
  input[name="permissible-purpose"][value="translational-research"] {
    & + label {
      opacity: 1 !important;
      &:before,
      &:after {
        display: none;
      }

      & + .govuk-reveal {
        display: block;
      }
    }
  }

  .govuk-grid-row {
    display: flex;
    align-items: stretch;
  }
}

.holding-page {
  text-align: center;
  margin-bottom: 2em;
}
.spinner {
  border: 12px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #808080;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.sync-indicator {
  display: inline-block;
  font-size: 14px;
  padding: 0 0.5em;
  color: $hint-colour;
}

.rte-table-container {
  overflow: auto;

  @media (min-width: 641px) {
    max-width: 1054px;
  }

  @media (min-width: 1260px) {
    max-width: 1186px;
  }

  @media (max-width: 640px) {
    max-width: 926px;
  }
}

.rte-table-cell {
  @media (min-width: 641px) {
    min-width: 175px;
  }

  @media (min-width: 1200px) {
    min-width: 200px;
  }

  @media (max-width: 640px) {
    min-width: 155px;
  }
}
